<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="onLoadBimvizJS">

    <script th:src="@{/public/bimsdk/sdk/third/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/jquery-ui.min.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/jquery-dialog.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/bootstrap.min.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/jstree/jstree.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/jquery-slider/jquery-ui-slider-pips.min.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/toolbar/jquery.toolbar.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/jCanvas.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/html2canvas-1.0.0/html2canvas.min.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/colpick/js/colpick.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/d3/d3.v4.min.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/third/d3/d3-selection-multi.v0.4.min.js}"></script>

    <script th:src="@{/public/bimsdk/sdk/viz/bimviz.js}"></script>

    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultMessageControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultToolBar.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultFileControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultTreesVisibilityControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultDomainControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultPropertyControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultSearchControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultMarkControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultMarkSimpleListControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultBuildingStoreyControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultRoamingSettingControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultTreesHighlightControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultSelectionSetControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultDatabaseQueryControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultCameraBookmarkControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultFixedClipControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultMeasureControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultRectSelectControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultHtmlMarkerControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultFileLoadControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultBimSpaceControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultMarkupControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultPlanViewControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultStoreyGridControl.js}"></script>
    <script th:src="@{/public/bimsdk/sdk/viz/ui/DefaultRoamPathControl.js}"></script>
</head>
</html>